# Models
*.pt
*.pth
checkpoints/
weights/

# Data and Results
*.exr
*.npy
*.las
data/
output/
pointclouds/

# Third-party repos
Robust-Scene-Change-Detection/
Depth-Anything-3/
pixel-perfect-depth/

# Junk files
nul
_ul

# Local Settings
.claude/